<div class="grid">

    <div class="col-12 lg:col-6 xl:col-3" *ngFor="let item of foodItems">
        <div class="card mb-0 text-center">
            <div class="flex justify-content-center align-items-center">
                <img src="assets/demo/images/food/{{ item.image }}.jpg" width="180em" height="150em" style="vertical-align: top"/>
            </div>
            <!-- <span class="image-text">IDLI</span> -->
            <h5 class="text-900">{{ item.name }}</h5>
            <div class="col-12 tag">
                <span class="price-badge price-tag">₹ {{ item.price }} /-</span>
            </div>
            <p-button label="Add" icon="pi pi-plus" size="small"></p-button>
        </div>
    </div>

</div>


<div class="card title-card-with-time">
    <h2 class="text-800 font-bold text-xl lg:text-xl">Hi Ryan, SI12345B</h2>
    <h4 class="text-800 font-bold text-xl lg:text-xl">Currency Limit : ₹ 2000 /-</h4>
</div>
